body {
    background-color: cadetblue;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 5px;
    background-color: white;

    input {
        border: cadetblue solid 1px;
        padding: 2px;
    }

    button {
        background-color: cadetblue;
        color: white;
        border: none;
        padding: 5px;
        margin: 0 5px;
        border-radius:5px;
    }
}

main {
    min-height: 80vh;
}

.product {
    background-color: white;
    margin: 20px;
    padding: 5px;
}